[Unit]
Description=dnsmasq server

[Service]
Environment="IMAGE=quay.io/coreos/dnsmasq"  
Environment="TECHOSTNAME=tectonic-installer"  
Environment="TECIP=192.168.254.131"  
ExecStart=/usr/bin/rkt run \  
  --net=host \
  ${IMAGE} \
  --caps-retain=CAP_NET_ADMIN,CAP_NET_BIND_SERVICE,CAP_SETGID,CAP_SETUID,CAP_NET_RAW \
  -- -d -q \
  --dhcp-range=192.168.254.135,192.168.254.140 \
  --enable-tftp \
  --tftp-root=/var/lib/tftpboot \
  --dhcp-userclass=set:ipxe,iPXE \
  --dhcp-boot=tag:#ipxe,undionly.kpxe \
  --dhcp-boot=tag:ipxe,http://${TECIP}:8080/boot.ipxe \
  --address=/${TECHOSTNAME}/${TECIP} \
  --log-queries \

[Install]
WantedBy=multi-user.target  
EOF  