[Unit]
Description=CoreOS matchbox Server
Documentation=https://github.com/coreos/matchbox

[Service]
Environment="IMAGE=quay.io/coreos/matchbox"
Environment="VERSION=latest"
Environment="MATCHBOX_ADDRESS=0.0.0.0:8080"
Environment="MATCHBOX_RPC_ADDRESS=0.0.0.0:8081"
Environment="MATCHBOX_LOG_LEVEL=debug"
ExecStart=/usr/bin/docker run \
 --net=host \
  --rm -v /var/lib/matchbox:/var/lib/matchbox:Z \
  -v /etc/matchbox:/etc/matchbox:Z,ro \
  ${IMAGE}:${VERSION} \
  -address=${MATCHBOX_ADDRESS} \
  -rpc-address=${MATCHBOX_RPC_ADDRESS} \
  -log-level=${MATCHBOX_LOG_LEVEL}

[Install]
WantedBy=multi-user.target
